@{
    ViewData["Title"] = "BlogWatch";
}
@model Blog

<img src="@Model.blogImage" alt="" class="w-100 img-fluid">
<h1 class="text-center">@Model.blogTitle</h1>
<p class="text-center">@Model.blogDescription</p>
<p>Yazar adı : @Model.WriterName &nbsp; 
                @if (Model.Id % 2 == 0 && Model.Id % 3 != 0)
                {
                    <span class="badge bg-info me-3">@Model.blogCategory</span>
                }
                @if (Model.Id % 2 == 1 && Model.Id % 3 != 0)
                {
                    <span class="badge bg-danger me-3">@Model.blogCategory</span>
                }
                @if (Model.Id % 3 == 0)
                {
                    <span class="badge bg-success me-3">@Model.blogCategory</span>
                }
</p>

<br><br>

